html, body {
    height: 100%;
    margin: 0;
    background-color: antiquewhite;
}

body {
    display: flex;
    align-items: center; /* вертикально */
    justify-content: center; /* горизонтально */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px black solid;
    z-index: 1000;
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: center; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-out;
}

.nav a:hover {
    color: #555;
    border-color: #555;
}

.nav a:hover::after {
  opacity: 1;
  transform: scale(1);
}

main {
    width: 80%;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    border: 4px black solid;
    padding: 12px;
    margin-top: 60px;
}

#main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: black solid 4px;
    padding-bottom: 12px;
}

.main-button {
    background-color: transparent;
    border: 2px black solid;
    font: inherit;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    margin: 4px 0;
}

.main-button:hover {
    background-color: black;
    color: white;
}