html, body {
    height: 100%;
    margin: 0;
    background-color: antiquewhite;
}

body {
    display: flex;
    align-items: center; /* вертикально */
    justify-content: center; /* горизонтально */
}

main {
    width: 80%;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    border: 4px black solid;
    padding: 12px;
}

#main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: black solid 4px;
    padding-bottom: 12px;
}

button {
    background-color: transparent;
    border: 2px black solid;
    font: inherit;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    margin: 4px 0;
}
